<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdh.business.modules.per.dao.SysOperLogDao">
    <!--表名-->
    <sql id="table_name">sys_oper_log</sql>

    <!--插入字段集合-->
    <sql id="Base_Column_List">
        id, 
        title, 
        business_type, 
        method, 
        operator_type, 
        oper_name, 
        dept_name, 
        oper_url, 
        oper_ip, 
        oper_location, 
        oper_param, 
        status, 
        error_msg, 
        is_valid, 
        create_date, 
        create_user, 
        update_date, 
        update_user, 
        remark
    </sql>
    <!--查询字段集合-->
    <sql id="Base_Column_List_AsType">
        id as id, 
        title as title, 
        business_type as businessType, 
        method as method, 
        operator_type as operatorType, 
        oper_name as operName, 
        dept_name as deptName, 
        oper_url as operUrl, 
        oper_ip as operIp, 
        oper_location as operLocation, 
        oper_param as operParam, 
        status as status, 
        error_msg as errorMsg, 
        is_valid as isValid, 
        create_date as createDate, 
        create_user as createUser, 
        update_date as updateDate, 
        update_user as updateUser, 
        remark as remark
    </sql>

    <!-- 增加一个实体 -->
    <insert id="insert" parameterType="com.fdh.business.modules.per.entity.SysOperLog">
        <!-- 针对mysql使用-->
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            select LAST_INSERT_ID()
        </selectKey>
        insert into <include refid="table_name" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="businessType != null">
                business_type,
            </if>
            <if test="method != null">
                method,
            </if>
            <if test="operatorType != null">
                operator_type,
            </if>
            <if test="operName != null">
                oper_name,
            </if>
            <if test="deptName != null">
                dept_name,
            </if>
            <if test="operUrl != null">
                oper_url,
            </if>
            <if test="operIp != null">
                oper_ip,
            </if>
            <if test="operLocation != null">
                oper_location,
            </if>
            <if test="operParam != null">
                oper_param,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="errorMsg != null">
                error_msg,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="remark != null">
                remark
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title},
            </if>
            <if test="businessType != null">
                #{businessType},
            </if>
            <if test="method != null">
                #{method},
            </if>
            <if test="operatorType != null">
                #{operatorType},
            </if>
            <if test="operName != null">
                #{operName},
            </if>
            <if test="deptName != null">
                #{deptName},
            </if>
            <if test="operUrl != null">
                #{operUrl},
            </if>
            <if test="operIp != null">
                #{operIp},
            </if>
            <if test="operLocation != null">
                #{operLocation},
            </if>
            <if test="operParam != null">
                #{operParam},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="errorMsg != null">
                #{errorMsg},
            </if>
            <if test="isValid != null">
                #{isValid},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="createUser != null">
                #{createUser},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
            <if test="updateUser != null">
                #{updateUser},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
        </trim>
    </insert>

    <!-- 根据主键删除一个实体 -->
    <delete id="delete" parameterType="java.lang.Long">
        delete from <include refid="table_name" />
        where id = #{id}
    </delete>

    <!-- 更新一个实体 -->
    <update id="update" parameterType="com.fdh.business.modules.per.entity.SysOperLog">
        update <include refid="table_name" />
        set
        <trim suffixOverrides=",">
        <if test="title != null">
            title = #{title},
        </if>
        <if test="businessType != null">
            business_type = #{businessType},
        </if>
        <if test="method != null">
            method = #{method},
        </if>
        <if test="operatorType != null">
            operator_type = #{operatorType},
        </if>
        <if test="operName != null">
            oper_name = #{operName},
        </if>
        <if test="deptName != null">
            dept_name = #{deptName},
        </if>
        <if test="operUrl != null">
            oper_url = #{operUrl},
        </if>
        <if test="operIp != null">
            oper_ip = #{operIp},
        </if>
        <if test="operLocation != null">
            oper_location = #{operLocation},
        </if>
        <if test="operParam != null">
            oper_param = #{operParam},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        <if test="errorMsg != null">
            error_msg = #{errorMsg},
        </if>
        <if test="isValid != null">
            is_valid = #{isValid},
        </if>
        <if test="createDate != null">
            create_date = #{createDate},
        </if>
        <if test="createUser != null">
            create_user = #{createUser},
        </if>
        <if test="updateDate != null">
            update_date = #{updateDate},
        </if>
        <if test="updateUser != null">
            update_user = #{updateUser},
        </if>
        <if test="remark != null">
            remark = #{remark},
        </if>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询一个实体 -->
    <select id="queryOne" parameterType="java.lang.Long"  resultType="com.fdh.business.modules.per.entity.SysOperLog">
        select
        <include refid="Base_Column_List_AsType" />
        from <include refid="table_name" />
        where id = #{id}
    </select>

    <!-- 查询全部 -->
    <select id="queryAll" resultType="com.fdh.business.modules.per.entity.SysOperLog">
        select
        <include refid="Base_Column_List_AsType" />
        from <include refid="table_name" />
        where is_valid = '1'
    </select>

    <!-- 根据字段查询 带分页 -->
    <select id="queryByFieldsAndPage" resultType="com.fdh.business.modules.per.entity.SysOperLog">
        select
        <include refid="Base_Column_List_AsType" />
        from <include refid="table_name" />
        where is_valid = '1'
        <if test="id != null ">
            and id = #{id}
        </if>
        <if test="title != null and title != ''">
            and title = #{title}
        </if>
        <if test="businessType != null ">
            and business_type = #{businessType}
        </if>
        <if test="method != null and method != ''">
            and method = #{method}
        </if>
        <if test="operatorType != null ">
            and operator_type = #{operatorType}
        </if>
        <if test="operName != null and operName != ''">
            and oper_name = #{operName}
        </if>
        <if test="deptName != null and deptName != ''">
            and dept_name = #{deptName}
        </if>
        <if test="operUrl != null and operUrl != ''">
            and oper_url = #{operUrl}
        </if>
        <if test="operIp != null and operIp != ''">
            and oper_ip = #{operIp}
        </if>
        <if test="operLocation != null and operLocation != ''">
            and oper_location = #{operLocation}
        </if>
        <if test="operParam != null and operParam != ''">
            and oper_param = #{operParam}
        </if>
        <if test="status != null ">
            and status = #{status}
        </if>
        <if test="errorMsg != null and errorMsg != ''">
            and error_msg = #{errorMsg}
        </if>
        <if test="isValid != null ">
            and is_valid = #{isValid}
        </if>
        <if test="createDate != null ">
            and create_date = #{createDate}
        </if>
        <if test="createUser != null ">
            and create_user = #{createUser}
        </if>
        <if test="updateDate != null ">
            and update_date = #{updateDate}
        </if>
        <if test="updateUser != null ">
            and update_user = #{updateUser}
        </if>
        <if test="remark != null and remark != ''">
            and remark = #{remark}
        </if>
        order by id
    </select>

    <!-- 批量删除（逻辑删除） -->
    <update id="batchRemove">
        update <include refid="table_name"></include>
        set
        <trim suffixOverrides=",">
            is_valid = 0,
            update_date = now(),
        </trim>
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
        #{id}
        </foreach>
    </update>

    <!-- 批量修改状态 -->
    <update id="batchModifyStatus">
        update <include refid="table_name"></include>
        set
        <trim suffixOverrides=",">
            <if test="status != null">
                status = #{status},
            </if>
            update_date = now(),
        </trim>
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
        #{id}
        </foreach>
    </update>
</mapper>

