<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdh.business.modules.per.dao.SysRoleMenuDao">
    <!--表名-->
    <sql id="table_name">sys_role_menu</sql>

    <!--插入字段集合-->
    <sql id="Base_Column_List">
        id, 
        role_id, 
        menu_id, 
        is_valid, 
        create_date, 
        create_user, 
        update_date, 
        update_user, 
        remark
    </sql>
    <!--查询字段集合-->
    <sql id="Base_Column_List_AsType">
        id as id, 
        role_id as roleId, 
        menu_id as menuId, 
        is_valid as isValid, 
        create_date as createDate, 
        create_user as createUser, 
        update_date as updateDate, 
        update_user as updateUser, 
        remark as remark
    </sql>

    <!-- 增加一个实体 -->
    <insert id="insert" parameterType="com.fdh.business.modules.per.entity.SysRoleMenu" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
        insert into <include refid="table_name" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                role_id,
            </if>
            <if test="menuId != null">
                menu_id,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="remark != null">
                remark
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId},
            </if>
            <if test="menuId != null">
                #{menuId},
            </if>
            <if test="isValid != null">
                #{isValid},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="createUser != null">
                #{createUser},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
            <if test="updateUser != null">
                #{updateUser},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
        </trim>
    </insert>

    <!-- 根据主键删除一个实体 -->
    <delete id="delete" parameterType="java.lang.Long">
        delete from <include refid="table_name" />
        where id = #{id}
    </delete>

    <!-- 更新一个实体 -->
    <update id="update" parameterType="com.fdh.business.modules.per.entity.SysRoleMenu">
        update <include refid="table_name" />
        set
        <trim suffixOverrides=",">
        <if test="roleId != null">
            role_id = #{roleId},
        </if>
        <if test="menuId != null">
            menu_id = #{menuId},
        </if>
        <if test="isValid != null">
            is_valid = #{isValid},
        </if>
        <if test="createDate != null">
            create_date = #{createDate},
        </if>
        <if test="createUser != null">
            create_user = #{createUser},
        </if>
        <if test="updateDate != null">
            update_date = #{updateDate},
        </if>
        <if test="updateUser != null">
            update_user = #{updateUser},
        </if>
        <if test="remark != null">
            remark = #{remark},
        </if>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询一个实体 -->
    <select id="queryOne" parameterType="java.lang.Long"  resultType="com.fdh.business.modules.per.entity.SysRoleMenu">
        select
        <include refid="Base_Column_List_AsType" />
        from <include refid="table_name" />
        where id = #{id}
    </select>

    <!-- 查询全部 -->
    <select id="queryAll" resultType="com.fdh.business.modules.per.entity.SysRoleMenu">
        select
        <include refid="Base_Column_List_AsType" />
        from <include refid="table_name" />
        where is_valid = '1'
    </select>

    <!-- 根据字段查询 带分页 -->
    <select id="queryByFieldsAndPage" resultType="com.fdh.business.modules.per.entity.SysRoleMenu">
        select
        <include refid="Base_Column_List_AsType" />
        from <include refid="table_name" />
        where is_valid = '1'
        <if test="id != null ">
            and id = #{id}
        </if>
        <if test="roleId != null and roleId != ''">
            and role_id = #{roleId}
        </if>
        <if test="menuId != null and menuId != ''">
            and menu_id = #{menuId}
        </if>
        <if test="isValid != null ">
            and is_valid = #{isValid}
        </if>
        <if test="createDate != null ">
            and create_date = #{createDate}
        </if>
        <if test="createUser != null ">
            and create_user = #{createUser}
        </if>
        <if test="updateDate != null ">
            and update_date = #{updateDate}
        </if>
        <if test="updateUser != null ">
            and update_user = #{updateUser}
        </if>
        <if test="remark != null and remark != ''">
            and remark = #{remark}
        </if>
        order by id
    </select>

    <!-- 批量删除（逻辑删除） -->
    <update id="batchRemove">
        update <include refid="table_name"></include>
        set
        <trim suffixOverrides=",">
            is_valid = 0,
            update_date = now(),
        </trim>
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
        #{id}
        </foreach>
    </update>

    <!-- 根据用户id查询菜单 -->
    <select id="listMenusByRoles" resultType="com.fdh.business.modules.per.entity.SysMenu">
        select menu.*
        from <include refid="table_name"></include> rmenu
        left join sys_menu menu on rmenu.menu_id = menu.id
        where rmenu.is_valid = 1 and menu.is_valid = 1
        and rmenu.role_id in
        <foreach collection="roles" item="roleId" open="(" close=")" separator=",">
            #{roleId}
        </foreach>
    </select>

</mapper>

