<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdh.business.modules.per.dao.SysUserOnlineDao">
    <!--表名-->
    <sql id="table_name">sys_user_online</sql>

    <!--插入字段集合-->
    <sql id="Base_Column_List">
        id,
        session_id,
        user_id,
        ip_addr,
        login_location,
        browser,
        os,
        status,
        start_time,
        last_access_time,
        expire_time,
        is_valid,
        create_date,
        create_user,
        update_date,
        update_user,
        remark
    </sql>
    <!--查询字段集合-->
    <sql id="Base_Column_List_AsType">
        id as id,
        session_id as sessionId,
        user_id as userId,
        ip_addr as ipAddr,
        login_location as loginLocation,
        browser as browser,
        os as os,
        status as status,
        start_time as startTime,
        last_access_time as lastAccessTime,
        expire_time as expireTime,
        is_valid as isValid,
        create_date as createDate,
        create_user as createUser,
        update_date as updateDate,
        update_user as updateUser,
        remark as remark
    </sql>

    <!-- 增加一个实体 -->
    <insert id="insert" parameterType="com.fdh.business.modules.per.entity.SysUserOnline">
        <!-- 针对mysql使用-->
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            select LAST_INSERT_ID()
        </selectKey>
        insert into <include refid="table_name" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sessionId != null">
                session_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="ipAddr != null">
                ip_addr,
            </if>
            <if test="loginLocation != null">
                login_location,
            </if>
            <if test="browser != null">
                browser,
            </if>
            <if test="os != null">
                os,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="lastAccessTime != null">
                last_access_time,
            </if>
            <if test="expireTime != null">
                expire_time,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="remark != null">
                remark
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sessionId != null">
                #{sessionId},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="ipAddr != null">
                #{ipAddr},
            </if>
            <if test="loginLocation != null">
                #{loginLocation},
            </if>
            <if test="browser != null">
                #{browser},
            </if>
            <if test="os != null">
                #{os},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="startTime != null">
                #{startTime},
            </if>
            <if test="lastAccessTime != null">
                #{lastAccessTime},
            </if>
            <if test="expireTime != null">
                #{expireTime},
            </if>
            <if test="isValid != null">
                #{isValid},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="createUser != null">
                #{createUser},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
            <if test="updateUser != null">
                #{updateUser},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
        </trim>
    </insert>

    <!-- 根据主键删除一个实体 -->
    <delete id="delete" parameterType="java.lang.Long">
        delete from <include refid="table_name" />
        where id = #{id}
    </delete>

    <!-- 更新一个实体 -->
    <update id="update" parameterType="com.fdh.business.modules.per.entity.SysUserOnline">
        update <include refid="table_name" />
        set
        <trim suffixOverrides=",">
            <if test="sessionId != null">
                session_id = #{sessionId},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="ipAddr != null">
                ip_addr = #{ipAddr},
            </if>
            <if test="loginLocation != null">
                login_location = #{loginLocation},
            </if>
            <if test="browser != null">
                browser = #{browser},
            </if>
            <if test="os != null">
                os = #{os},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="lastAccessTime != null">
                last_access_time = #{lastAccessTime},
            </if>
            <if test="expireTime != null">
                expire_time = #{expireTime},
            </if>
            <if test="isValid != null">
                is_valid = #{isValid},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="createUser != null">
                create_user = #{createUser},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询一个实体 -->
    <select id="queryOne" parameterType="java.lang.Long"  resultType="com.fdh.business.modules.per.entity.SysUserOnline">
        select
        <include refid="Base_Column_List_AsType" />
        from <include refid="table_name" />
        where id = #{id}
    </select>

    <!-- 查询全部 -->
    <select id="queryAll" resultType="com.fdh.business.modules.per.entity.SysUserOnline">
        select
        <include refid="Base_Column_List_AsType" />
        from <include refid="table_name" />
        where is_valid = '1'
    </select>

    <!-- 根据字段查询 带分页 -->
    <select id="queryByFieldsAndPage" resultType="com.fdh.business.modules.per.entity.SysUserOnline">
        select
        <include refid="Base_Column_List_AsType" />
        from <include refid="table_name" />
        where is_valid = '1'
        <if test="id != null ">
            and id = #{id}
        </if>
        <if test="sessionId != null and sessionId != ''">
            and session_id = #{sessionId}
        </if>
        <if test="userId != null ">
            and user_id = #{userId}
        </if>
        <if test="ipAddr != null and ipAddr != ''">
            and ip_addr = #{ipAddr}
        </if>
        <if test="loginLocation != null and loginLocation != ''">
            and login_location = #{loginLocation}
        </if>
        <if test="browser != null and browser != ''">
            and browser = #{browser}
        </if>
        <if test="os != null and os != ''">
            and os = #{os}
        </if>
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
        <if test="startTime != null ">
            and start_time = #{startTime}
        </if>
        <if test="lastAccessTime != null ">
            and last_access_time = #{lastAccessTime}
        </if>
        <if test="expireTime != null ">
            and expire_time = #{expireTime}
        </if>
        <if test="isValid != null ">
            and is_valid = #{isValid}
        </if>
        <if test="createDate != null ">
            and create_date = #{createDate}
        </if>
        <if test="createUser != null ">
            and create_user = #{createUser}
        </if>
        <if test="updateDate != null ">
            and update_date = #{updateDate}
        </if>
        <if test="updateUser != null ">
            and update_user = #{updateUser}
        </if>
        <if test="remark != null and remark != ''">
            and remark = #{remark}
        </if>
        order by id
    </select>

    <!-- 批量删除（逻辑删除） -->
    <update id="batchRemove">
        update <include refid="table_name"></include>
        set
        <trim suffixOverrides=",">
            is_valid = 0,
            update_date = now(),
        </trim>
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <!-- 批量修改状态 -->
    <update id="batchModifyStatus">
        update <include refid="table_name"></include>
        set
        <trim suffixOverrides=",">
            <if test="status != null">
                status = #{status},
            </if>
            update_date = now(),
        </trim>
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <!-- 查询过期会话集合 -->
    <select id="selectOnlineByExpired" parameterType="String" resultType="com.fdh.business.modules.per.entity.SysUserOnline">
        select <include refid="Base_Column_List_AsType"></include>
        from <include refid="table_name"></include>
        where is_valid = 1
        and o.last_access_time <![CDATA[ <= ]]> #{lastAccessTime}
        order by o.last_access_time asc
    </select>

    <!-- 根据会话id查询用户状态信息 -->
    <select id="selectOnlineBySessionId" resultType="com.fdh.business.modules.per.entity.SysUserOnline">
        select <include refid="Base_Column_List_AsType"></include>
        from <include refid="table_name"></include>
        where is_valid = 1 and session_id = #{sessionId}
        limit 1
    </select>

    <!-- 通过会话序号删除信息 -->
    <update id="deleteOnlineBySessionId">
        update <include refid="table_name"></include>
        set is_valid = 0
        where session_id = #{sessionId}
    </update>

</mapper>

